# Post Processing Settings
[build.processing]
  skip_processing = false
  
[build.processing.css]
  bundle = true
  minify = true
  
[build.processing.js]
  bundle = true
  minify = true
  
[build.processing.html]
  pretty_urls = true
  
[build.processing.images]
  compress = true

[[redirects]]
  from = "https://jarmos.netlify.app"
  to = "https://jarmos.vercel.app"
  force = true
  status = 301
