# Global Build Settings
[build]
  base = "src"
  publish = "output"
  command = "pelican content -s publishconf.py"

# Post Processing Settings
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true
